* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url("images/download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.peak {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.lead {
  color: aliceblue;
}
footer {
  color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}
.jet {
  color: black;
}
